parameters:
	fileExtensions:
		- php
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
	    # For now this one is incorrect
	    - '#Strict comparison using === between PDOStatement and false will always evaluate to false.#'

